<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.orobator.android.gramophone"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="18"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.orobator.android.gramophone.view.activities.MusicActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name="com.orobator.android.gramophone.view.activities.SongMetadataActivity"
                android:label="@string/title_activity_song_metadata">
        </activity>
        <activity
                android:name="com.orobator.android.gramophone.view.activities.NowPlayingActivity"
                android:label="@string/title_activity_now_playing"
                android:parentActivityName="com.orobator.android.gramophone.view.activities.MusicActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="MusicActivity"/>
        </activity>

        <service
                android:name=".controller.services.MusicPlayerService"
                android:enabled="true"
                android:exported="false">
        </service>
        <meta-data
                android:name="com.crashlytics.ApiKey"
                android:value="7e72d200b6d9876f0b1e482e8d34cdd465e36d3c"/>
    </application>

</manifest>
